<!DOCTYPE html>
<html ng-app="SaiaDoVermelho">
<head>
	<meta charset="utf-8">
	<title>Saia Do Vermelho</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

	<link rel="stylesheet" href="css/app.css">

	<script  type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
</head>
<body ng-controller="MoneyController">
	
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand">SaiaDoVermelho</a>
				<p class="navbar-text">
					<span class="text-gray">{{money.incomings.total | currency:"R$"}}</span> - <span class="text-red">{{money.expenses.total | currency:"R$"}}</span> = {{money.total | currency:"R$"}}
					<span class="label label-success">{{money.saved + "%"}}</span>
				</p>
			</div>
		</div>
	</nav>

	<div class="container-fluid">

		<form ng-submit="new()">
			<h4>Cadastrar novo
				<div class="btn-group" role="group">
					<button type="button" ng-click="type='incoming'" ng-class="{'active': type == 'incoming'}" class="btn btn-default btn-sm">Ganho</button>
					<button type="button" ng-click="type='expense'" ng-class="{'active': type == 'expense'}" class="btn btn-default btn-sm">Gasto</button>
				</div>
			</h4>

			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon" id="basic-addon2">Valor</span>
					<input ng-model="value" type="number" class="form-control">
				</div>

				<div class="input-group">
					<span class="input-group-addon" id="basic-addon2">Nome</span>
					<input ng-model="name" type="text" class="form-control">
				</div>

				<div class="input-group">
					<input type="submit" value="Cadastrar" class="form-control">
				</div>
			</div>
		</form>

		<div role="tabpanel">

			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active"><a href="#expenses" aria-controls="expenses" role="tab" data-toggle="tab">Gastos</a></li>
				<li role="presentation"><a href="#incomings" aria-controls="incomings" role="tab" data-toggle="tab">Ganhos</a></li>
			</ul>

			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="expenses">
					<div class="list-group">
						<a ng-repeat="expense in money.expenses.values" class="list-group-item">
							<span ng-click="deleteExpense(expense)" class="badge cursor-pointer delete">Deletar</span>
							{{expense.name}}
							<span class="text-gray">{{expense.value | currency:"R$"}}</span>
						</a>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane" id="incomings">
					<div class="list-group">
						<a ng-repeat="incoming in money.incomings.values" class="list-group-item">
						   	<span ng-click="deleteIncoming(incoming)" class="badge cursor-pointer delete">Deletar</span>
							{{incoming.name}}
							<span class="text-gray">{{incoming.value | currency:"R$"}}</span>
						</a>
					</div>
				</div>
			</div>

		</div>

	</div>

	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/services/MoneyService.js"></script>
	<script type="text/javascript" src="js/controllers/MoneyController.js"></script>
</body>
</html>