@media only screen and (max-width: 639px) {
    body {
    font-size: 100%;
    }
}

@media only screen and (min-width: 640px) {
    body {
    font-size: 95%;
    }
}

@media only screen and (min-width: 1024px) {
    body {
    font-size: 90%;
    }
}

@media only screen and (min-width: 1280px) {
    body {
    font-size: 85%;
    }
}