<html ng-app>
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <!--script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script-->
      
  </head>
  <body ng-controller='SimpleController'>
    
    <input type='text' ng-model='name'>
    <input type='button' ng-click='addName()' value='adicionar'>
 
    <table border="1">
      <tr>
        <th>Bairro do Limoeiro</th>
      </tr>          
      <tr ng-repeat="pessoa in bairroDoLimoeiro">
        <td>{{pessoa}}</td>
      </tr>
    </table>
 
    <script>
      function SimpleController($scope){
        $scope.bairroDoLimoeiro = ['Mônica', 'Magali', 'Cascão', 'Cebolinha'];
 
        $scope.addName = function(){
          if($scope.bairroDoLimoeiro.indexOf($scope.name) == -1){//Se não contém o nome
            $scope.bairroDoLimoeiro.push($scope.name);
            $scope.name = '';//Limpa o input
          }
        }
      }
    </script>   
 
  </body>
</html>