body {
	margin: 0px;
	font-family: sans-serif;
}

header.page-header {
	background-color: #40d47e;
	height: 50px;
	width: 100%;
	position: fixed;
}

section.page-section {
	float: left;
	margin: 0 0.15%;
	width: 63%;
}

aside.page-aside {
	margin: 0 0.15%;
	width: 25%;
	right: 10px;
	position: fixed;
}

div.page {
	padding-top: 70px;
}

footer.page-footer {
	clear:both;
	margin: 0 0.15%;
}

nav.navbar {
	padding: 13px 10px 10px 10px;
}

nav.navbar img {
	margin-right: 20px;
	margin-left: 20px;
	vertical-align: middle;
}

nav.navbar a{
	text-decoration: none;
	font-size: 1.2em;
	margin-right: 10px;
	color:#ffffff;
}

nav.navbar a:hover{
	color:#006600;
}

section article.content {
	width: 100%;
	border: 1px solid #c3c3c3;
	border-radius: 5px;
	padding: 0px 30px 0px 30px;
	box-shadow: 1px 1px 1px #c3c3c3;
	margin: 10px 10px 10px 10px;
}

aside ul.articles-list {
	padding: 5px 10px 5px 10px;
	border-left: 1px solid #c3c3c3;
}

aside ul.articles-list li {
	margin: 5px 0px 5px 0px;
}

aside ul.articles-list li a{
	text-decoration: none;
	color:#000000;
}

aside ul.articles-list li a:hover{
	color:#27ae60;
}

footer div.social-media nav img {
	vertical-align: middle;
}

footer div.social-media {
	padding: 15px 0px 15px 0px;
}

.page-center-align {
	text-align: center;
}